h1 {
    margin-top: 0px !important;
    padding-top: 6em;
}

.contentWrapper {
    margin: 0 auto 0 auto;
    width: 95%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
}

.documentationContainer {
    /* background-color: bisque; */
    width: 100%;
}

.mainContent {
    width: 85%;
}

.mainContentContainer {
    width: 85%;
    height: 100vh;
    overflow: auto;
    padding: 0 2em 0 5em;
}

.articleNavigation {
    /* background-color: chartreuse; */
    padding-top: 6em;
    width: 15%;
}